body {
  background-image:url(https://avatanplus.com/files/resources/mid/5774cbddf03b9155a03c5b20.png);
}

main{
  background-color: rgba(255, 255, 255, 0.6);
}

.available{
    background: #FADADD;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.available:hover {
    box-shadow: 0 0 15px rgba(175, 43, 43, 1);
}

.choosen{
    background: white;
    border: solid 1px;
    box-shadow: inset 0px 0px 10px 0px #cacaca;
}

  
  .l-wrap {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  .tasks {
    width: calc((100% - 24px * 2) / 3);
    margin-top: 24px;
    margin-right: 24px;
    float: left;
    
  }
  
  /* For a 3-column grid */
  .tasks:nth-child(4n+4) {
    margin-right: 0;
    float: right;
  }
  
  /* Demo purposes */
  .tasks {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 110px;
    width: 80px;
    text-align: center;
  }