body {
  background-image:url('https://avatanplus.com/files/resources/mid/5774cbddf03b9155a03c5b20.png');
}

main{
  background-color: rgba(255, 255, 255, 0.6);
}

.status {
  color: rgb(245, 100, 100);
  font-size: 11pt;
  padding: 5px;
}

#statusIdent{
  color: rgb(255, 115, 0);
  font-size: 14pt;
}

.available{
    background: #FADADD;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.available:hover {
    box-shadow: 0 0 15px rgba(175, 43, 43, 1);
}

.choosen{
    background: white;
    border: solid 1px;
    box-shadow: inset 0px 0px 10px 0px #cacaca;
}

  
  .l-wrap {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  .tasks {
    width: calc((100% - 24px * 2) / 3);
    margin-top: 24px;
    margin-right: 24px;
    float: left;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 110px;
    width: 80px;
    text-align: center;
  }
  
  /* For a 3-column grid */
  .tasks:nth-child(4n+4) {
    margin-right: 0;
    float: right;
  }

  
  div .tasks:hover{
    animation: run 0.1s infinite ease-in-out;
   /*visibility: hidden;*/
  }
  
  @keyframes run {
    0% {
      transform: translate(1px,1px);
    }
    100% {
      transform: translate(-1px,-1px);
    }
  }


  
/* Стили поиска пользователя */
  .search{
    width: 500px;
    margin: 0px;
    position: relative;
  }

  #userName{
    width:210px;
    padding:2px;
    margin:1px;
    border:1px solid #000;
  }

  #searchResults{
    display:none;
    width: 350px;
    background-color: #ffc2e8;
    color: rgb(0, 0, 0);
    -moz-opacity: 0.95;
    opacity: 0.85;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter:alpha(opacity=95);
    z-index:999;
    position: absolute;
    top: 24px; left: 0px;
  }

  #searchResults .res{
    cursor: pointer;
    padding: 5px;
    text-align: left;
  }
  #searchResults .res:hover{
    color:rgb(51, 51, 39);
    background-color:rgb(255, 168, 177);
  }
  #searchResults .active{
    cursor: pointer;
    padding: 5px;
    color:#FEFFBD;
    background-color:#818187;
  }


  .zadachi {
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 2px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  [id^=zadacha] {
    display:none;
  }